<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <title>Updating note</title>
</head>

<body>

<div th:if="${update == null}">
  <div class="outer-2">
    <div>
      <h3 style="margin:15px;margin-bottom:0px;" th:text="'Adding new ' +${category.name} +' note'"></h3>
      <hr>
    </div>
    <img  th:src="@{/img/logo.png}" alt="Fancy Notes" class="my-logo fill-2" style="padding-top:15px; padding-right:15px;">
  </div>
</div>

<div th:if="${update}">
  <div class="outer-2">

    <div>
      <h3 style="margin:15px;margin-bottom:0px;" th:text="'Updating ' +${category.name} +' note'"></h3>
      <hr>
    </div>

    <img  th:src="@{/img/logo.png}" alt="Fancy Notes" class="my-logo fill-2" style="padding-top:15px; padding-right:15px;">
  </div>
</div>


<div class="">
  <div class="row g-0 mb-3">

    <!-- Navigation -->
    <div style="background-color: #878787; min-height: 90vh;" class="shadow-lg text-center col-md-1 mx-1">
      <div class="fw-bold">Navigation</div>
      <hr>
      <br>

      <div th:if="${backToDetails}">
        <a th:href="@{/notes/showDetails(noteId=${note.id})}" class="btn btn-warning btn-sm mb-3 mt-3">
          Back
        </a>
      </div>
      <hr>

      <a class="btn btn-secondary btn-sm mb-3 mt-3" th:href="@{/admin/notes/showAll(categoryId=${category.id})}" th:text="${category.name} + ' notes'"></a>
      <hr>

      <a th:href="@{/admin/categories/showAll}" class="btn btn-secondary btn-sm mb-3 mt-3">
        Categories
      </a>
      <hr>

      <a th:href="@{/hello}" class="btn btn-secondary btn-sm mb-3 mt-3">
        Home
      </a>
      <hr>

      <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit" class="btn btn-secondary btn-sm mb-3 mt-3">Logout</button>
      </form>

    </div>
    <!-- End of navigation -->

    <!-- Display content --->
    <div class="shadow-lg col" style="background-color: #878787;">
      <div class="container shadow-lg" style="background-color: #878787; min-height:90vh;margin-bottom:3px;">
        <div class="py-3">

          <div th:if="${saveError}">
            <div class="alert alert-danger">
              Note you trying to add already exists - choose another name!
            </div>
          </div>

          <div th:if="${emptyNameError}">
            <div class="alert alert-danger">
              You must provide non-blank note name!
            </div>
          </div>


          <div th:if="${update}">

            <form action="#" th:action="@{${backToDetails} ? '/admin/notes/addNote?updateParam=true&backToDetails=true' : '/admin/notes/addNote?updateParam=true'}" th:object="${note}" method="POST">

              <!-- Add hidden form field to handle the update -->
              <input type="hidden" th:field="*{id}">
              <input type="hidden" th:field="*{categoryId}">

              <input type="text" th:field="*{name}" class="form-control mb-4 w-50" placeholder="name">
              <textarea class="form-control z-depth-1" rows="5" th:field="*{description}" placeholder="description"></textarea><br>
              Start date: <input type="date" th:field="*{startDate}" class="form-control mb-4 w-25" placeholder="Start date">
              End date: <input type="date" th:field="*{endDate}" class="form-control mb-4 w-25" placeholder="End date">
              Remind: <input type="checkbox" th:field="*{remind}" placeholder="Remind" checked> <br> <br>

              <!-- CUSTOM FIELDS TABLE -->
              <hr><div class="fw-bold">CUSTOM FIELDS</div><br>

              <table class="table table-bordered table-striped table-dark">
                <thead class="table-dark text-center">
                <th>
                  <input type="submit" name="addCtf" value="Add" class="btn btn-success col-2 w-auto">
                </th>
                <th>Name</th>
                <th>Value</th>
                <th>Remove</th>
                </thead>
                <tbody>
                <tr th:each="ctf, ctfStat : *{customTextFields}">
                  <td><input type="hidden" th:field="*{customTextFields[__${ctfStat.index}__].id}"></td>
                  <td> <textarea class="form-control z-depth-1" rows="3" th:field="*{customTextFields[__${ctfStat.index}__].fieldName}" placeholder="Name"></textarea>  </td>
                  <td> <textarea class="form-control z-depth-1" rows="3" th:field="*{customTextFields[__${ctfStat.index}__].fieldValue}" placeholder="Value"></textarea>  </td>
                  <td class="text-center">
                    <button type="submit" name="removeCtf" th:value="*{customTextFields[__${ctfStat.index}__].id}"class="btn btn-danger col-2 w-auto">Remove</button>
                  </td>
                </tr>
                </tbody>
              </table>

              <input type="submit" name="save" value="Save" class="btn btn-success col-2"></input>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of display content --->
</div>


</body>
</html>