<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <title>Your Categories</title>
</head>
<body>

<h3 style="margin:15px;margin-bottom:0px;">Your Categories</h3>
<hr>
    <div class="">
        <div class="row g-0 mb-3">

            <!-- Navigation -->
            <div style="background-color: #878787; min-height: 90vh;" class="shadow-lg text-center col-md-1 mx-1">

                <div class="w-auto">


                    <div class="fw-bold">Navigation</div>
                    <hr>
                    <br>

                    <hr>


                    <!-- Add button -->
                    <a th:href="@{/categories/addForm}" class="btn btn-success btn-sm mb-3 mt-3">
                        New category
                    </a>
                    <hr>

                    <a th:href="@{/categories/showAll}" class="btn btn-secondary btn-sm mb-3 mt-3">
                        Categories
                    </a>
                    <hr>

                    <a th:href="@{/hello}" class="btn btn-secondary btn-sm mb-3 mt-3">
                        Home
                    </a>
                    <hr>

                </div>
            </div>
            <!-- End of navigation -->

            <!-- Display content -->
                <div class="col p-3 shadow-lg" style="background-color: #878787;min-height:90vh;margin-bottom:3px;">

                    <!-- Table of categories -->
                    <table class="table table-bordered table-striped table-dark shadow-lg text-center">

                        <thead class="table-dark">
                        <tr>
                            <th>Name</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="tempCategory : ${categoryList}">
                            <td th:text="${tempCategory.name}"/>
                            <td th:text="${tempCategory.note}"/>

                            <td>

                                <a th:href="@{/notes/showAll(categoryId=${tempCategory.id})}" class="btn btn-success btn-sm">
                                    Show notes
                                </a>


                                <a th:href="@{/categories/update(categoryId=${tempCategory.id})}" class="btn btn-warning btn-sm">
                                    Update Category
                                </a>

                                <a th:href="@{/categories/delete(categoryId=${tempCategory.id})}"
                                   class="btn btn-danger btn-sm"
                                   onclick="if (!(confirm('Are you sure to delete this category?'))) return false">
                                    Delete Category
                                </a>


                            </td>

                        </tr>
                        </tbody>

                    </table>
                </div>
            <!-- End of display content -->

        </div>
    </div>





</body>
</html>