<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


  <title>Your Notes</title>
</head>
<body>
<div class="container">

  <h3 th:text="'Your ' + (${archived} ? 'archived ' : '') + ${category.name} + ' notes'"></h3>
  <hr>


  <div th:if="${archived==false}">

    <!-- Add button -->
    <a th:href="@{/notes/addForm(categoryId=${category.id})}" class="btn btn-primary btn-sm mb-3">
      New note
    </a>

    <!-- Show archived button -->
    <a th:href="@{/notes/showAll(categoryId=${category.id},archived=true)}" class="btn btn-primary btn-sm mb-3">
      Show archived notes
    </a>
  </div>

  <div th:if="${archived}">
    <!-- Show back button -->
    <a th:href="@{/notes/showAll(categoryId=${category.id},archived=false)}" class="btn btn-primary btn-sm mb-3">
      Show non-archived notes
    </a>
  </div>



  <!-- Table of categories -->
  <table class="table table-bordered table-striped">

    <thead class="table-dark">
    <tr>
      <div th:if="${archived==false}">
        <th>Send to archive</th>
      </div>
      <div th:if="${archived}">
        <th>Unarchive</th>
      </div>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End Date</th>
      <th>Remind</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempNote : ${category.notesList}">
      <td>
        <a th:href="@{/notes/switchArchived(noteId=${tempNote.id},archived=${archived})}" class="btn btn-info btn-sm"/>
      </td>
      <td th:text="${tempNote.name}"/>
      <td th:text="${tempNote.description}"/>
      <td th:text="${tempNote.startDate}"/>
      <td th:text="${tempNote.endDate}"/>
      <td th:text="${tempNote.remind}"/>

      <!-- Action buttons -->
      <td>

        <a th:href="@{/notes/showDetails(noteId=${tempNote.id})}" class="btn btn-info btn-sm">
          Show details
        </a>

        <a th:href="@{/notes/update(noteId=${tempNote.id})}" class="btn btn-info btn-sm">
          Update Note
        </a>

        <a th:href="@{/notes/delete(noteId=${tempNote.id})}"
           class="btn btn-info btn-sm"
           onclick="if (!(confirm('Are you sure to delete this note?'))) return false">
          Delete note
        </a>


      </td>

    </tr>
    </tbody>

  </table>

  <!-- Home button -->
  <a th:href="@{/categories/showAll}" class="btn btn-primary btn-sm mb-3">
    Back to Categories
  </a>
  <br>
  <a th:href="@{/hello}" class="btn btn-primary btn-sm mb-3">
    Back to home
  </a>

</div>
</body>
</html>