<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Note details</title>
</head>

<body style="background-color: #85c2ff;">

<h3>Note Details</h3>  <br>


<div class="">

    <div class="row g-0">
        <!-- Navigation -->
        <div style="background-color: #878787; height: 90vh;" class="shadow-lg text-center col-md-1 mx-1">
            Navigation
            <hr>
            <br>

            <hr>
            <a class="btn btn-secondary btn-sm mb-4" th:href="@{/notes/showAll(categoryId=${note.category.id})}" th:text="${note.category.name} + ' notes'" ></a>
            <hr>

            <a th:href="@{/categories/showAll}" class="btn btn-secondary btn-sm mb-4">
                Categories
            </a>
            <hr>

            <a th:href="@{/hello}" class="btn btn-secondary btn-sm mb-4">
                Home
            </a>

        </div>

        <!-- Display properties -->
        <div class="shadow-lg col">

            <div class="row m-5">
                <div style="background-color: #c4be9d; margin-right: 5px;" class="col shadow-lg">
                    <div>
                        Name: <p th:text="${note.name}"> <br>
                    </div>

                    <div>
                        Description: <p th:text="${note.description}"> <br>
                    </div>

                    <div>
                        Start date: <p th:text="${note.startDate}"> <br>
                    </div>

                    <div>
                        End date: <p th:text="${note.endDate}"> <br>
                    </div>
                    <div>
                        Remind: <p th:text="${note.remind}"> <br>
                    </div>
                    <div>
                        Archived: <p th:text="${note.archived}"> <br>
                    </div>
                </div>

                <div style="background-color: #c4be9d; margin-left:5px;" class="col shadow-lg">

                    <div>Custom fields</div>

                    <div th:each="ctf, ctfStat : ${note.CustomTextFields}">
                        <div th:text="${note.CustomTextFields[__${ctfStat.index}__].fieldName} + ':'"></div>
                        <div th:text="${note.CustomTextFields[__${ctfStat.index}__].fieldValue}"></div>
                        <br>
                    </div>

                </div>
            </div>



            <div class="w-auto"></div>




        </div>

    </div>



</div>


<!--
<div th:if="${note.customTextFields?.field1name != null && note.customTextFields?.field1name != ''}">
  <p th:text="${note.customTextFields.field1name} + ':'">
  <p th:text="${note.customTextFields.field1value}"> <br>
</div>

<div th:if="${note.customTextFields?.field2name != null && note.customTextFields?.field2name != ''}">
  <p th:text="${note.customTextFields.field2name} + ':'">
  <p th:text="${note.customTextFields.field2value}"> <br>
</div>

<div th:if="${note.customTextFields?.field3name != null && note.customTextFields?.field3name != ''}">
    <p th:text="${note.customTextFields.field3name} + ':'">
    <p th:text="${note.customTextFields.field3value}"> <br>
</div>

<br><hr>

-->

</body>
</html>